.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.border {
  height: 400px;
  width: 400px;
  border: 1px solid #61dafb;
  border-style: dashed;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.object {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.button {
  cursor: pointer;
  width: 125px;
  height: 40px;
  background: white;
  border-radius: 50px;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2)
    forwards;

  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@keyframes gradient {
  0% {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }
  10% {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
  20% {
    background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  }
  30% {
    background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
  }
  40% {
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  }
  50% {
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  }
  60% {
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  }
  70% {
    background: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
  }
  80% {
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  }
  90% {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }
  100% {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }
}
.spinner-4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #61dafb) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}
